*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: #ffffff;
    height: 100vh;
    width: 100%;
    margin: 0%;
    cursor: crosshair;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.form-control,
.btn,
.block::before {
    font-family: "Clash Display", sans-serif;
    color: #101010;
    /* color: #101010; */
    line-height: 1;
    /* mix-blend-mode: difference; */
    border: none;
    /* background-color: aqua; */
    /* z-index: 1000; */
}

h1 {
    font-weight: 500;
    font-size: 100px; 
}

h2 {
    font-weight: 500;
    font-size: 42px;
}

h3,
h4,
label,
.btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    /* background-color: #002fff;  */
    /* color: aqua; */
}

h5 {
    font-weight: 300;
    font-size: 10px;
}

h6 {
    font-weight: 100;
    font-size: 6px;
}






.header_container{
    margin: 0;
    padding: 0 40px 0 40px;
    top: 0;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 2;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
}


.logo1{
    padding: 24px 8px 8px 8px;
    width: 60px;
    height: auto;
    background-color: #ffffff;
    
}



.right-bar{
    padding: 16px 0px 0px 0px;
    width: auto;
    height: auto;
    /* background-color: rgb(217, 255, 0); */

    
}

li {
    
    list-style: none;
    /* background-color: #e21111; */
    display: flex;
    align-items: flex-end;
}


a{
    text-decoration: none;
    font-family: "Clash Display", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    
}






a:hover{
    text-decoration: underline;
    cursor: crosshair;
}










.projects {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.projects>a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.page-container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;

}

.canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;

}

.block {
    position: absolute;
    width: 250px;
    height: 250px;
    z-index: 1;
    transition: transform 0.2s ease;
}

.text{

    margin: 210px 0;
    display: flex;
    flex-direction: column;
}

.block:hover {
    z-index: 2;
    transform: scale(1.25);
}


.overlay{
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 1;
    transition: transform 0.2s ease;
    color: #000;
    background-color: aqua;
}






.block:nth-child(1) {
    top: 10%;
    left: 3%;
    background: url("/assets/hamkerr/image.png") no-repeat 50%, 50%;
    background-size: cover;
    z-index: 10;
    /* border: #c8ff00 1px solid; */
}

.block:nth-child(2) {
    top: 45%;
    left: 25%;
    background: url("/assets/home/grocerygo.png") no-repeat 50%, 50%;
    background-size: cover;
}

.block:nth-child(3) {
    top: 15%;
    left: 48%;
    background: url("/assets/home/documentor.png") no-repeat 50%, 50%;
    background-size: cover;
}

.block:nth-child(4) {
    top: 50%;
    left: 75%;
    background: url("/assets/paymedia/Frame\ 40.png") no-repeat 50%, 50%;
    background-size: cover;
}


.row {
    /* background-color: aqua; */
    margin: 50px 0px;
}

video{
    margin-bottom: 50px;
    /* mix-blend-mode: difference; */
}

.line {
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
}

img{
    /* mix-blend-mode: difference; */
    width: 100%;
    height: 100%;
    z-index: -1000;
}

.btn {
    background-color: rgb(0, 0, 0);
    border-radius: 0%;
    border: 0;
    color: #ffffff;
    width: 100%;
    height: 40px;
    font-weight: 500;
}

.col-md-6>.btn{
    margin: 5px;
}



.btn:hover {
    background-color: #101010;
    color: rgb(255, 255, 255);
    border: #ffffff 1px solid;
    cursor: crosshair;
}


#svg{
    height: 150px;
    width: 150px;
    stroke: #ffffff;
    /* stroke-width: 3px; */
    fill-opacity: 0;
    stroke-dasharray: 4500;
    animation: draw 8s ease;
}

/* .Hero{
    mix-blend-mode: difference;
} */

/* video, .video{
    mix-blend-mode: difference;
} */



.blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.reveler{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    /* background: url("/assets/Logo/bg.png"); */
    z-index: 1000;
    overflow: hidden;
}



/* /......................................................................................./ */

.containers{
    width: 100%;
    height: 100vh;
  }

  .blockss{
    width: 100%;
    height: 100vh;
  }

  .blocks{
    position: fixed;
    width: 50%;
    height: 100vh;
    z-index: 0;
    background: #101010;
  }

  .block-left{
    left: 0;
    /* background-color: aqua; */
  }

  .block-right{
    right: 0;
  }

  .letter{
    position: absolute;
    z-index: 10000;
    padding: 0 0.2em;
    font-size: 8em;
    color: #ffffff;
    mix-blend-mode: difference;
    width: auto;
    height: auto;
  }

  .rowr{
    width: 100%;
    height: 50vh;
  }

  .top-left, .top-right, .bottom-right{
    position: absolute;
    z-index: 10000;
  }

  .top-left{
    margin: 0;
    padding: 0;
    top:37%;
    right: 47.5%;
    /* background-color: rgb(145, 255, 0); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .top-right{
    margin: 0;
    padding: 0;
    top:37%;
    right: 47.5%;
    /* background-color: rgb(145, 255, 0); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bottom-left{
    margin: 0;
    padding: 0;
    top:37%;
    right: 47.5%;
    /* background-color: rgb(255, 0, 234); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bottom-right{
    margin: 0;
    padding: 0;
    top:37%;
    right: 47.5%;
    /* background-color: rgb(255, 115, 0); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



@media (max-width: 991.98px) {
    h1 {
        font-size: 60px;
        /* color: #ff0808; */
    }
    .block {
        width: 200px;
        height: 200px;
    }
    .text{
        margin: 210px 0;
    }
}


@media (max-width: 767.98px) {

    h1 {
        /* color: #033eff; */
        font-size: 60px;
    }
    .block {
        width: 150px;
        height: 150px;
    }
    .text{
        margin: 160px 0;
    }
    #gap{
        gap: 50px;
    }

    .hello{
        visibility: hidden;
    }
}


@media (max-width: 575.98px) {

    h1 {
        /* color: #08ff14; */
        font-size: 42px;
        /* text-align: center; */
    }
    .block {
        width: 100px;
        height: 100px;
    }
    .text{
        margin: 110px 0;
    }
    #img1{
        height: 10px;
        background-color: aqua;
        /* opacity: 0; */
    }
    .header_container {
        gap: 30px;
    }

    .block:nth-child(1) {
        top: 20%;
        left: 20%;

    }
    
    .block:nth-child(2) {
        top: 30%;
        left: 60%;

    }
    
    .block:nth-child(3) {
        top: 60%;
        left: 20%;

    }
    
    .block:nth-child(4) {
        top: 70%;
        left: 60%;

    }

    .header_container{
        backdrop-filter: blur(5px);
    }

    .logo1{
        padding: 12px 8px 8px 8px;
        width: 52px;
        height: auto;
        
    }
}